
<!-- Main content -->
<section class="content" >

  <div class="row " style="margin-top: 20px;">
    <div class="col-md-6 col-md-offset-2">
      <div class="box box-warning">
        <div class="box-header">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-plus"></i></span>
            <input class="form-control" placeholder="Add here your new wish..." type="text">
          </div>
        </div><!-- /.box-header -->
        <div class="box-body">

          <div class="row" style="margin-top: 10px">
            <div class="col-md-2 text-center">
              <span class="label label-success"><i class="fa fa-check"></i> Done</span>
              <span class="label label-danger"><i class="fa fa-close"></i> Cancel</span>
            </div>
            <div class="col-md-3">
              Go to Eiffel Tower
            </div>
            <div class="col-md-5">
              Aqui vai a super descrição catita.
            </div>
          </div>

          <div class="row" style="margin-top: 10px">
            <div class="col-md-2 text-center">
              <span class="label label-success">Accomplished</span>
            </div>
            <div class="col-md-3">
              Go to Eiffel Tower
            </div>
            <div class="col-md-5">
              Aqui vai a super descrição catita.
            </div>
          </div>

          <h4>Done</h4>
          <div class="row" style="margin-top: 10px">
            <div class="col-md-2 text-center">
              <span class="label label-success">Accomplished</span>
            </div>
            <div class="col-md-3">
              Go to Eiffel Tower
            </div>
            <div class="col-md-5">
              Aqui vai a super descrição catita.
            </div>
          </div>

          <div class="row" style="margin-top: 10px">
            <div class="col-md-2 text-center">
              <span class="label label-success">Accomplished</span>
            </div>
            <div class="col-md-3">
              Go to Eiffel Tower
            </div>
            <div class="col-md-5">
              Aqui vai a super descrição catita.
            </div>
          </div>

          <div class="row" style="margin-top: 10px">
            <div class="col-md-2 text-center">
              <span class="label label-success">Accomplished</span>
            </div>
            <div class="col-md-3">
              Go to Eiffel Tower
            </div>
            <div class="col-md-5">
              Aqui vai a super descrição catita.
            </div>
          </div>

        </div><!-- /.box-body -->
      </div>
    </div>
    <div class="col-md-2">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Getting Started</h3>
        </div>
        <div class="box-body">
          <h4>See our suggestions...</h4>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-plus"></i></span>
            <input class="form-control" placeholder="Add here your new wish..." type="text">
          </div>
          <h4>... or de community</h4>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-plus"></i></span>
            <input class="form-control" placeholder="Add here your new wish..." type="text">
          </div>
        </div><!-- /.box-body -->
      </div>
    </div>
  </div><!-- /row -->

</section><!-- /.content -->
