
        <!-- Main content -->
        <section class="content" >

          <div class="row " style="margin-top: 20px;">
            <div class="col-md-2">

            </div>
            <div class="col-md-4">

              <!-- Profile Image -->
              <div class="row">
                <div class="col-md-12">

                  <div class="box box-widget widget-user">
                      <!-- Add the bg color to the header using any of the bg-* classes -->
                      <div class="widget-user-header bg-blue">
                        <h3 class="widget-user-username">Alexander Pierce</h3>
                        <h5 class="widget-user-desc">Founder &amp; CEO</h5>
                      </div>
                      <div class="widget-user-image">
                        <img class="img-circle" src="../dist/img/user1-128x128.jpg" alt="User Avatar">
                      </div>
                      <div class="box-footer">
                        <div class="row">
                          <div class="col-sm-4 border-right">
                            <div class="description-block">
                              <h5 class="description-header">3,200</h5>
                              <span class="description-text">Bucket List total items</span>
                            </div><!-- /.description-block -->
                          </div><!-- /.col -->
                          <div class="col-sm-4 border-right">
                            <div class="description-block">
                              <h5 class="description-header">13,000</h5>
                              <span class="description-text">Acompplished</span>
                            </div><!-- /.description-block -->
                          </div><!-- /.col -->
                          <div class="col-sm-4">
                            <div class="description-block">
                              <h5 class="description-header">35</h5>
                              <span class="description-text">To be completed</span>
                            </div><!-- /.description-block -->
                          </div><!-- /.col -->
                        </div><!-- /.row -->
                      </div>
                    </div>
                </div>
              <!-- About Me Box -->

              </div>

              <div class="box box-primary" style="position: relative;">
                <div class="box-header">
                  <i class="ion ion-clipboard"></i>
                  <h3 class="box-title">Bucket List</h3>

                </div><!-- /.box-header -->
                <div class="box-body">
                  <ul class="todo-list ui-sortable">
                    <li>

                      <!-- checkbox -->
                      <i class="fa fa-ellipsis-h fa-2x text-warning pull-right"></i>
                      <!-- todo text -->
                      <span class="text">Climb Everest</span>
                      <!-- Emphasis label -->
                      <small class="label label-primary"><i class="fa  fa-info-circle"></i> 20/100 users completed this wish </small>
                      <!-- General tools such as edit or delete-->

                    </li>
                    <li>

                      <i class="fa fa-check-circle fa-2x text-success pull-right"></i>
                      <span class="text">Make the theme responsive</span>
                      <small class="label label-primary"><i class="fa  fa-info-circle"></i> 50/1000 users completed this wish </small>

                    </li>
                    <li>

                      <i class="fa fa-check-circle fa-2x text-success pull-right"></i>
                      <span class="text">Make the theme responsive</span>
                      <small class="label label-primary"><i class="fa  fa-info-circle"></i> 70/200 users completed this wish </small>

                    </li>
                    <li>

                      <i class="fa fa-check-circle fa-2x text-success pull-right"></i>
                      <span class="text">Make the theme responsive</span>
                      <small class="label label-primary"><i class="fa  fa-info-circle"></i> 80/85 users completed this wish </small>

                    </li>

                    <li>
                      <span class="handle">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                      </span>
                      <input type="checkbox" value="" name="">
                      <span class="text">Let theme shine like a star</span>
                      <small class="label label-default"><i class="fa fa-clock-o"></i> 1 month</small>
                      <div class="tools">
                        <i class="fa fa-edit"></i>
                        <i class="fa fa-trash-o"></i>
                      </div>
                    </li>
                  </ul>
                </div><!-- /.box-body -->

              </div>

              <div>

                    <div class="box box-primary ">
                      <div class="box-header with-border">
                        <h3 class="box-title">Stats</h3>
                      </div><!-- /.box-header -->
                    </div>

                    <div style="overflow-y: scroll; height:200px;">

                      <div class="info-box bg-green">
                        <span class="info-box-icon"><i class="fa fa-check-circle-o"></i></span>
                        <div class="info-box-content">
                          <span class="info-box-text">Completed</span>
                          <span class="info-box-number">20</span>
                          <div class="progress">
                            <div class="progress-bar" style="width: 60%"></div>
                          </div>
                          <span class="progress-description">
                            Bucket List items acomplished
                          </span>
                         </div><!-- /.info-box-content -->
                      </div>


                      <div class="small-box bg-yellow">
                        <div class="inner">
                          <h3>Andar de cavalo</h3>
                          <p>Only 15% of people completed this item</p>
                        </div>
                        <div class="icon">
                          <i class="ion ion-trophy"></i>
                        </div>
                        <a class="small-box-footer">
                          Acomplished
                        </a>
                      </div>

                      <div class="small-box bg-yellow">
                        <div class="inner">
                          <h3>Andar de cavalo</h3>
                          <p>Only 15% of people completed this item</p>
                        </div>
                        <div class="icon">
                          <i class="ion ion-trophy"></i>
                        </div>
                        <a class="small-box-footer">
                          Acomplished
                        </a>
                      </div>

                      <div class="small-box bg-yellow">
                        <div class="inner">
                          <h3>Andar de cavalo</h3>
                          <p>Only 15% of people completed this item</p>
                        </div>
                        <div class="icon">
                          <i class="ion ion-trophy"></i>
                        </div>
                        <a class="small-box-footer">
                          Acomplished
                        </a>
                      </div>
                    </div>
                </div><!-- /.box -->


            </div><!-- /.col -->
            <div class="col-md-4">
              <div class="box box-primary">
                <div class="box-header">
                  <i class="ion ion-clock"></i>
                  <h3 class="box-title">Timeline</h3>

                </div>
                <div class="box-body">
                  <div class=""id="timeline">
                    <!-- The timeline -->
                    <ul class="timeline timeline-inverse">
                      <!-- timeline time label -->
                      <li class="time-label">
                        <span class="bg-blue">
                          Today
                        </span>
                      </li>
                      <!-- /.timeline-label -->
                      <!-- timeline item -->
                      <!-- Only show if is not his profile -->
                      <li>
                        <i class="fa fa-plus bg-yellow"></i>
                        <div class="timeline-item">
                          <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                          <h3 class="timeline-header"><a href="#">Andar de cavalo</a> was added to the list</h3>

                          <div class="timeline-body">
                           Descrição sobre a cena.....
                            sdsadeadaed
                            sadadedeadeadaedaed
                          </div>
                          <div class="timeline-footer">
                            <a class="btn btn-primary btn-xs">Add to my List</a>
                          </div>
                        </div>
                      </li>
                      <!-- END timeline item -->
                      <!-- timeline item -->
                       <li>
                        <i class="fa fa-plus bg-blue"></i>
                        <div class="timeline-item">
                          <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                          <h3 class="timeline-header">Sugestion <a href="#"> Andar de cavalo</a> from <a href="#"> Pessoa que sugeriu</a> was accepted</h3>
                          <div class="timeline-body">
                           Descrição sobre a cena.....
                            sdsadeadaed
                            sadadedeadeadaedaed
                          </div>
                          <div class="timeline-footer">
                            <a class="btn btn-primary btn-xs">Add to my List</a>
                          </div>
                        </div>
                      </li>
                      <li>
                        <i class="fa fa-minus bg-red"></i>
                        <div class="timeline-item">
                          <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                          <h3 class="timeline-header"><a href="#"> Andar de cavalo</a> was removed from the list</h3>
                          <div class="timeline-body">
                           Descrição sobre a cena.....
                            sdsadeadaed
                            sadadedeadeadaedaed
                          </div>
                          <div class="timeline-footer">
                            <a class="btn btn-primary btn-xs">Add to my List</a>
                          </div>
                        </div>
                      </li>
                      <li>
                        <i class="fa fa-check bg-green"></i>
                        <div class="timeline-item">
                          <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
                          <h3 class="timeline-header no-border"> <i class="fa fa-trophy " style="color: Gold;"></i> <a href="#">Saltar de Para-quedas</a> was completed! congratulations!!! <i class="fa fa-trophy " style="color: Gold;"></i> </h3>
                        </div>
                      </li>

                      <!-- END timeline item -->
                      <li>
                        <i class="fa fa-clock-o bg-gray"></i>
                      </li>
                    </ul>
                  </div><!-- /.tab-pane -->


                </div><!-- /.tab-content -->
              </div><!-- /.nav-tabs-custom -->
            </div><!-- /.col -->

        </section><!-- /.content -->
